
  .container {
    display: flex;
  }
  
  .container-logo {
    background-image: url(../../img/background.svg) ;
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;

  }

   .container-logo .logo {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60%;
  }
  
  .container-form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }
  
  .container-inf {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }