
.menu-container {
  width: 50%;

}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card { 
  font-family: Poppins;
  font-family: Poppins;
  background: white;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  
}
.card h5 {
  background: white;
}
.card p {
  font-weight: bold;
  color: red;
}

.card img {
  width: 150px;
  height: 80px;
  border-radius: 5px 5px 0 0;  
}


li {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: row;
}

.inf-mesa{
  display:flex;
  flex-direction: row;
  
}


.table {
  font-family: Poppins;
  font-size: 1.2rem;
  width: 90%; 
}


th, td {
  padding: 15px;
  text-align: left;
}

.page {
  width:50%;
}
.card-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  border: blue 2px solid;
  font-family: Poppins;
  margin: 5px;
  
}

.card-titulo { 
  justify-content: space-between;
  background-color: lightblue;
}

.card-titulo p {
  margin: 5px;
}

.card-pedido {
  display: flex;
  align-items: center;
  margin: 5px;   
}

.card-pedido img {
  width: 60px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.bt-container {
 margin: 10px;
}