.container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 400;
  background-color: white;
  border: '2px solid #000';
  box-shadow: 5;
  padding: (2, 4, 3);
  margin: (2, 4, 3);
}
