* {
  margin: 0;
  padding: 0;
  --primary-color: #272d74;
  font-family: Poppins;
}

.header {
  background-color: #3f51b5;
  display: flex;

  justify-content: space-between;
  align-items: center;
  box-shadow: 5px black;
}

.header div {
  display: flex;
  margin: 0 60px;
}


.header img {
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

